body {
  font-family: Arial, sans-serif;
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

/* Estilos para el contenedor principal */
.app-container {

  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  /* Esto asegura que el contenedor ocupe el 100% de la altura de la ventana */
}


.header {

  flex: auto;
  padding: 10px;
  margin-bottom: 2rem;

}


.content {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  /* padding: 10px; */
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 10px;
}